@model CMS.Models.ViewModel.EmployeeViewModel
@{
    ViewData["Title"] = "Session Speakers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container cus-border rounded bg-light">
    <div class="row pt-2 justify-content-center">
        <h3>Session Speakers List</h3>
    </div>
    <br class="w-75" />
    <br />
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Session Title</th>
                <th>Speaker Name</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
        jQuery.noConflict()(function ($) {
            $(document).ready(function () {
                loadDataTable();
            })
        })

        var dataTable;

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/User/ConfAttendee/GetAllSSp",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "width": "15%" },
                    { "data": "sessions.title", "width": "45%" },
                    { "data": "speakers.name", "width": "40%" }
                ],
                "language": {
                    "emptyTable": "No Record Found!"
                },
                "width": "100%"
            })
        }
    </script>
    <style>
        .cus-border {
            border: 2px solid #004481;
        }

        hr {
            border-color: black;
        }
    </style>
}