<div class="col-4">
    <button type="submit" class="btn btn-outline-primary rounded form-control">Create</button>
</div>
<div class="col-4">
    <a asp-action="Index" class="btn btn-outline-primary rounded form-control">Back to List</a>
</div>