@model int

<div class="col-4">
    <button type="submit" asp-route-id="@Model" class="btn btn-outline-dark rounded form-control">Update</button>
</div>
<div class="col-4">
    <a asp-action="Index" class="btn btn-outline-dark rounded form-control">Back to List</a>
</div>