@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="col-5 m-0 m-auto cus-border bg-light rounded">
        <form id="account" method="post" class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row justify-content-center">
                <h3>LOGIN</h3>
            </div>
            <hr class="w-75" />

            <div class="row form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="row form-group justify-content-center">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div class="row form-group justify-content-center">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary text-white form-control">LOGIN</button>
                </div>
            </div>

            <div class="row form-group justify-content-center">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<style>
    .cus-border {
        border: 2px solid #004481;
    }

    hr {
        border-color: black;
    }

    input[type=email] {
        border-color: #0094ff;
    }

    input[type=password] {
        border-color: #0094ff;
    }
</style>
}
